/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import * as z from "zod/v3";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { pathToFunc } from "../lib/url.js";
import { PatchV1ProjectsProjectIdRollbackDeploymentIdUpdateDescriptionRequest$outboundSchema, } from "../models/patchv1projectsprojectidrollbackdeploymentidupdatedescriptionop.js";
import { APIPromise } from "../types/async.js";
/**
 * Updates the description for a rollback
 *
 * @remarks
 * Updates the reason for a rollback, without changing the rollback status itself.
 */
export function projectsPatchV1ProjectsProjectIdRollbackDeploymentIdUpdateDescription(client, request, options) {
    return new APIPromise($do(client, request, options));
}
async function $do(client, request, options) {
    const parsed = safeParse(request, (value) => PatchV1ProjectsProjectIdRollbackDeploymentIdUpdateDescriptionRequest$outboundSchema
        .parse(value), "Input validation failed");
    if (!parsed.ok) {
        return [parsed, { status: "invalid" }];
    }
    const payload = parsed.value;
    const body = encodeJSON("body", payload.RequestBody, { explode: true });
    const pathParams = {
        deploymentId: encodeSimple("deploymentId", payload.deploymentId, {
            explode: false,
            charEncoding: "percent",
        }),
        projectId: encodeSimple("projectId", payload.projectId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path = pathToFunc("/v1/projects/{projectId}/rollback/{deploymentId}/update-description")(pathParams);
    const headers = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "*/*",
    }));
    const context = {
        options: client._options,
        baseURL: options?.serverURL ?? client._baseURL ?? "",
        operationID: "patch_/v1/projects/{projectId}/rollback/{deploymentId}/update-description",
        oAuth2Scopes: null,
        resolvedSecurity: null,
        securitySource: null,
        retryConfig: options?.retries
            || client._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
    };
    const requestRes = client._createRequest(context, {
        method: "PATCH",
        baseURL: options?.serverURL,
        path: path,
        headers: headers,
        body: body,
        userAgent: client._options.userAgent,
        timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req = requestRes.value;
    const doResult = await client._do(req, {
        context,
        errorCodes: ["400", "401", "403", "409", "422", "4XX", "5XX"],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req }];
    }
    const response = doResult.value;
    const [result] = await M.match(M.nil(200, z.void()), M.fail([400, 401, 403, 409, 422, "4XX"]), M.fail("5XX"))(response, req);
    if (!result.ok) {
        return [result, { status: "complete", request: req, response }];
    }
    return [result, { status: "complete", request: req, response }];
}
//# sourceMappingURL=projectsPatchV1ProjectsProjectIdRollbackDeploymentIdUpdateDescription.js.map